$main-font-stack: 'Montserrat';

$second-font-stack: 'Kaushan Script';

$last-font-stack: 'Roboto';

$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$naitral-color: #999999;
$hover-color: #f38181;
$some-color: #fce38a;
$secondary-green-color: #95e1d3;
$foot-color:#f9c0c0;
$foot-box-color: #cccccc;
$third-color: #e7e7e7;
$fourth-color: #9ce3d6;
$last-color: #e5e5e5;

$main-text-size: 14px;
$secondary-text-size: 15px;

$main-text-height: 24px;