nav {
    text-align: center;    
    font-family: Playfair Display;
}
.post_list {
    max-width: 940px;
    margin: 0 auto;
}

.post_item {
    width: 440px; 
    display: inline-block;
}

article {
    font-family: Playfair Display;
}

button {
    display: block;
    font-family: Playfair Display;
    margin: 0 auto;
}