@media (max-width: 768px){
    .fon {
        height: 540px;
        /*width: 320px; */  
    }
    .main{
        background-image: url('../img/img1.png'); 
    }
    .current {
        display: inline-block;
    }

    .log {
        display: none;
    }
    .menu-list-item{
        display: block;
    }
    .menu-list-point{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;   
    } 
    .foot-box__menu--icon{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .footer{
        height: 220px;
    }
    .prev{
        right: 85.5%;
    }
     .cols{
        font-size: 18px;
        height: 920px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 22px;
        text-align: center;

    }
    
}

@media (min-width:768px) and (max-width: 992px){
    .fon {
        height: 700px;
       
    }
    .main{
        background-image: url('../img/img2.png'); 
    }
    .foot-box__menu{
        height: 80px;
    }
    .menu-list-point{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;   
    } 
    .foot-box__menu--icon{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

}

@media (min-width: 992px){
    .fon {
        height: 700px;
       
    }
    .main{
        background-image: url('../img/img.png'); 
    }
    .foot-box__menu{
        height: 50px;
    }
}